.DS_Store
*-backups/
/production/backups/
fp-info-cache
_autosave*
\#auto_saved_files\#
*bak
*.xml
.ipynb_checkpoints
~*
*-erc.txt
*-drc.txt
kibot_errors.filter
/*.csv
/*.bak
/*_bom_.csv
*.swp
*.swo
